.interview-view-questionaire-list{
	.questionaire{
		margin-top : 20px;
		cursor : pointer;
		
		&:hover{
			background-color : #eef1f6;
		}
		
		.questionaire-header{
			font-size : 14px;
			color : #20a0ff;
		}
		
		.questionaire-content{
			margin-top : 10px;
			font-size : 14px;
			color : #48576a;
			line-height : 200%;
			text-indent:30px;
			
		}
	}
}

.interview-view-question-list{
	.question{
		margin-top : 20px;
		&:hover{
			background-color : #eef1f6;
		}
		.question-desc{
			font-size : 14px;
			color : #48576a;
			line-height : 200%;
		}
		
		.answer{
			margin-top : 20px;
			text-indent:30px;
			.label{
				font-size : 14px;
				color : #48576a;
			}
			.value{
				font-size : 14px;
				color : #20a0ff;
			}
		}
	}
}