.container .header {
  height: 80px;
  background-color: #20a0ff;
}

.container .header .header-left {
  height: 100%;
  line-height: 80px;
  text-align: left;
  padding-left: 25px;
}

.container .header .header-left .logo {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.container .header .header-left .title {
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
}

.container .header .header-right {
  height: 100%;
  line-height: 80px;
  text-align: right;
  padding-right: 25px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.container .header .header-right .el-dropdown {
  color: #fff;
  font-size: 16px;
}

.container .content {
  padding: 25px;
  min-height: 500px;
}

.container .footer {
  padding: 20px 0;
  background-color: #eef1f6;
}

.container .footer .info {
  text-align: center;
  font-size: 13px;
  color: #48576a;
}
