.my-task-task-detail .task-title {
  font-size: 14px;
  color: #606266;
}

.my-task-questionaire-list .questionaire {
  margin-top: 20px;
}

.my-task-questionaire-list .questionaire:hover {
  background-color: #eef1f6;
}

.my-task-questionaire-list .questionaire .questionaire-operate {
  text-align: right;
  padding-right: 10px;
}

.my-task-questionaire-list .questionaire .questionaire-header {
  font-size: 14px;
  color: #20a0ff;
}

.my-task-questionaire-list .questionaire .questionaire-content {
  margin-top: 10px;
  font-size: 14px;
  color: #48576a;
  line-height: 200%;
  text-indent: 30px;
}

.my-task-questionaire-list .invalid {
  background-color: #fcf8e3;
}
