.my-task-task-detail .task-title {
  font-size: 14px;
  color: #606266;
}

.my-task-questionaire-list .questionaire {
  margin-top: 20px;
}

.my-task-questionaire-list .questionaire:hover {
  background-color: #eef1f6;
}

.my-task-questionaire-list .questionaire .questionaire-operate {
  text-align: right;
  padding-right: 10px;
}

.my-task-questionaire-list .questionaire .questionaire-header {
  font-size: 14px;
  color: #20a0ff;
}

.my-task-questionaire-list .questionaire .questionaire-content {
  margin-top: 10px;
  font-size: 14px;
  color: #48576a;
  line-height: 200%;
  text-indent: 30px;
}

.my-task-questionaire-list .invalid {
  background-color: #fcf8e3;
}

.my-task-question-list .question {
  margin-top: 20px;
  padding: 10px;
}

.my-task-question-list .question:hover {
  background-color: #eef1f6;
}

.my-task-question-list .question .question-operate {
  text-align: right;
  padding-right: 10px;
}

.my-task-question-list .question .question-desc {
  font-size: 14px;
  color: #48576a;
  line-height: 200%;
}

.my-task-question-list .question .answer {
  margin-top: 20px;
  text-indent: 30px;
}

.my-task-question-list .question .answer .label {
  font-size: 14px;
  color: #48576a;
}

.my-task-question-list .question .answer .value {
  font-size: 14px;
  color: #20a0ff;
}

.my-task-question-list .invalid {
  background-color: #fcf8e3;
}

.my-task-question-list .edit-question .question-desc {
  line-height: 200%;
}

.my-task-question-list .edit-question .answer {
  margin: 20px 0 0 20px;
}

.my-task-question-list .edit-question .answer .answer-content {
  margin-top: 10px;
}
