.my-task-task-detail{
	.task-title{
		font-size : 14px;
		color : #606266;
	}
}

.my-task-questionaire-list{
	.questionaire{
		margin-top : 20px;
		&:hover{
			background-color : #eef1f6;
			cursor : pointer;
		}
		.questionaire-header{
			font-size : 14px;
			color : #20a0ff;
		}
		.questionaire-content{
			margin-top : 10px;
			font-size : 14px;
			color : #48576a;
			line-height : 200%;
			text-indent:30px;
		}
	}
}

.my-task-question-list{
	.question{
		margin-top : 20px;
		padding : 10px;
		&:hover{
			background-color : #eef1f6;
		}
		.question-operate{
			text-align:right;
			padding-right:10px;
		}
		.question-desc{
			font-size : 14px;
			color : #48576a;
			line-height : 200%;
		}
		.answer{
			margin-top : 20px;
			text-indent:30px;
			.label{
				font-size : 14px;
				color : #48576a;
			}
			.value{
				font-size : 14px;
				color : #20a0ff;
			}
		}
	}
	.invalid{
		background-color: #fcf8e3;
	}
	
	.edit-question{
		.question-desc{
			line-height : 200%;
		}
		.answer{
			margin : 20px 0 0 20px;
			
			.answer-content{
				margin-top : 10px;
			}
		}
		.remark{
			margin-top : 20px;
			.remark-title{
				margin-bottom : 10px;
				color : #F00;
			}
		}
	}
}