<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
	<settings>
		<setting name="logImpl" value="SLF4J"/>
	</settings>
    
	<typeAliases>
		<typeAlias type="com.huasheng.sysq.editor.model.User" alias="User"/>
		<typeAlias type="com.huasheng.sysq.editor.model.Interview" alias="Interview"/>
		<typeAlias type="com.huasheng.sysq.editor.model.Doctor" alias="Doctor"/>
		<typeAlias type="com.huasheng.sysq.editor.model.Patient" alias="Patient"/>
		<typeAlias type="com.huasheng.sysq.editor.model.Task" alias="Task"/>
		<typeAlias type="com.huasheng.sysq.editor.model.Version" alias="Version"/>
		<typeAlias type="com.huasheng.sysq.editor.model.Questionaire" alias="Questionaire"/>
		<typeAlias type="com.huasheng.sysq.editor.model.Question" alias="Question"/>
		<typeAlias type="com.huasheng.sysq.editor.model.Answer" alias="Answer"/>
		<typeAlias type="com.huasheng.sysq.editor.model.EditorQuestionaire" alias="EditorQuestionaire"/>
		<typeAlias type="com.huasheng.sysq.editor.model.EditorQuestion" alias="EditorQuestion"/>
		<typeAlias type="com.huasheng.sysq.editor.model.SysqResult" alias="SysqResult"/>
		<typeAlias type="com.huasheng.sysq.editor.model.EditorLoginLog" alias="EditorLoginLog"/>
		<typeAlias type="com.huasheng.sysq.editor.model.EditorEditLog" alias="EditorEditLog"/>
		
	</typeAliases>
    
	<mappers>
		<mapper resource="mapper/UserMapper.xml"/>
		<mapper resource="mapper/InterviewMapper.xml"/>
		<mapper resource="mapper/DoctorMapper.xml"/>
        	<mapper resource="mapper/PatientMapper.xml"/>
        	<mapper resource="mapper/TaskMapper.xml"/>
        	<mapper resource="mapper/VersionMapper.xml"/>
        	<mapper resource="mapper/QuestionaireMapper.xml"/>
        	<mapper resource="mapper/QuestionMapper.xml"/>
        	<mapper resource="mapper/AnswerMapper.xml"/>
        	<mapper resource="mapper/SysqResultMapper.xml"/>
        	<mapper resource="mapper/EditorQuestionaireMapper.xml"/>
        	<mapper resource="mapper/EditorQuestionMapper.xml"/>
        	<mapper resource="mapper/EditorResultMapper.xml"/>
        	<mapper resource="mapper/EditorLoginLogMapper.xml"/>
        	<mapper resource="mapper/EditorEditLogMapper.xml"/>
	</mappers>
    
</configuration>