<?xml version="1.0" encoding="UTF-8"?>
<configuration
    xmlns="http://ch.qos.logback/xml/ns/logback"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">

    <!-- 日志根目录 -->
    <property name="LOG_HOME" value="H:\\log\\sysq-editor" />
    
    <!-- 业务默认日志 -->
  	<appender name="DEFAULT" class="ch.qos.logback.core.rolling.RollingFileAppender" >
  	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
  	        <fileNamePattern>${LOG_HOME}\\default\\default.%d{yyyy-MM-dd}.log</fileNamePattern>
  	        <maxHistory>30</maxHistory>
  	    </rollingPolicy>
  	    <encoder>
  	        <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%t] [%c] [%m]%n</pattern>
  	    </encoder>
  	 </appender>

  	<!-- 业务错误日志 -->
  	<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
	        <level>ERROR</level>
	        <onMatch>ACCEPT</onMatch>
	        <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <fileNamePattern>${LOG_HOME}\\error\\error.%d{yyyy-MM-dd}.log</fileNamePattern>
	        <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%t] [%c] [%m]%n</pattern>
        </encoder>
    </appender>

  	<!-- 框架日志 -->
  	<appender name="FRAMEWORK" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}\\framework\\framework.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%t] [%c] [%m]%n</pattern>
        </encoder> 
       </appender>

  	<logger name="com.huasheng.sysq.editor" level="INFO" additivity="false">
  	    	<appender-ref ref="DEFAULT"/>
  	    	<appender-ref ref="ERROR"/>
  	</logger>
  	
  	<root level="INFO">
    		<appender-ref ref="FRAMEWORK" />
  	</root>
  	
</configuration>