<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
	<settings>
		<setting name="logImpl" value="SLF4J"/>
	</settings>
    
	<typeAliases>
		<typeAlias type="com.huasheng.sysq.editor.model.User" alias="User"/>
		<typeAlias type="com.huasheng.sysq.editor.model.Interview" alias="Interview"/>
		<typeAlias type="com.huasheng.sysq.editor.model.Doctor" alias="Doctor"/>
		<typeAlias type="com.huasheng.sysq.editor.model.Patient" alias="Patient"/>
		<typeAlias type="com.huasheng.sysq.editor.model.Task" alias="Task"/>
		<typeAlias type="com.huasheng.sysq.editor.model.Version" alias="Version"/>
		<typeAlias type="com.huasheng.sysq.editor.model.Questionaire" alias="Questionaire"/>
	</typeAliases>
    
	<mappers>
		<mapper resource="mapper/UserMapper.xml"/>
		<mapper resource="mapper/InterviewMapper.xml"/>
		<mapper resource="mapper/DoctorMapper.xml"/>
        	<mapper resource="mapper/PatientMapper.xml"/>
        	<mapper resource="mapper/TaskMapper.xml"/>
        	<mapper resource="mapper/VersionMapper.xml"/>
        	<mapper resource="mapper/QuestionaireMapper.xml"/>
	</mappers>
    
</configuration>