<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="mapper.EditorQuestionMapper">
    
	<sql id="allColumns">
		id,interview_id,questionaire_code,question_code,status,create_time,update_time,seq_num   
	</sql>
	
	<resultMap id="allResultMap" type="EditorQuestion">
		<id column="id" property="id" jdbcType="INTEGER" javaType="_int"/>
		<result column="interview_id" property="interviewId" jdbcType="INTEGER" javaType="_int"/>
		<result column="questionaire_code" property="questionaireCode" jdbcType="VARCHAR" javaType="string"/>
		<result column="question_code" property="questionCode" jdbcType="VARCHAR" javaType="string"/>
		<result column="status" property="status" jdbcType="INTEGER" javaType="_int"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="date" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="date" />
		<result column="seq_num" property="seqNum" jdbcType="INTEGER" javaType="_int"/>
  		
	</resultMap>
	
        <insert id="insert" parameterType="EditorQuestion" useGeneratedKeys="true" keyProperty="id">
            	insert editor_question(interview_id,questionaire_code,question_code,status,create_time,update_time,seq_num) 
            	values(#{interviewId},#{questionaireCode},#{questionCode},#{status},#{createTime},#{updateTime},#{seqNum})
        </insert>
        
        <select id="selectListByInterviewAndQuestionaire" parameterType="hashmap" resultMap="allResultMap">
            	select <include refid="allColumns"></include> 
            	from editor_question 
            	where interview_id = #{interviewId} and questionaire_code = #{questionaireCode}
        </select>
        
</mapper>  