<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="mapper.EditorResultMapper">
    
        <sql id="allColumns">
		id,interview_id,questionaire_code,question_code,answer_code,answer_value 
        </sql>
	
	<resultMap id="allResultMap" type="SysqResult">
		<id column="id" property="id" jdbcType="INTEGER" javaType="int"/>
  		<result column="interview_id" property="interviewId" jdbcType="INTEGER" javaType="_int"/>
		<result column="questionaire_code" property="questionaireCode" jdbcType="VARCHAR" javaType="string"/>
		<result column="question_code" property="questionCode" jdbcType="VARCHAR" javaType="string"/>
  		<result column="answer_code" property="answerCode" jdbcType="VARCHAR" javaType="string"/>
  		<result column="answer_value" property="answerValue" jdbcType="VARCHAR" javaType="string"/>
	</resultMap>
	
	<insert id="insert" parameterType="SysqResult" useGeneratedKeys="true" keyProperty="id">
	    	insert into editor_result(interview_id,questionaire_code,question_code,answer_code,answer_value) 
	    	values(#{interviewId},#{questionaireCode},#{questionCode},#{answerCode},#{answerValue})
	</insert>
	
	<insert id="batchInsert" parameterType="list" useGeneratedKeys="true" keyProperty="id">
	    	insert into editor_result(interview_id,questionaire_code,question_code,answer_code,answer_value) 
	    	values
	    	<foreach collection="list" item="editorResult" separator=",">
	    	    	(#{editorResult.interviewId},#{editorResult.questionaireCode},#{editorResult.questionCode},#{editorResult.answerCode},#{editorResult.answerValue})
	    	</foreach>
	</insert>
	
	<select id="selectByAnswerCode" parameterType="hashmap" resultMap="allResultMap">
	    	select <include refid="allColumns"></include> 
	    	from editor_result 
	    	where interview_id = #{interviewId} and questionaire_code = #{questionaireCode} and question_code = #{questionCode} and answer_code = #{answerCode}
	</select>
	
	<delete id="deleteByQuestion" parameterType="hashmap">
	    	delete from editor_result where interview_id = #{interviewId} and questionaire_code = #{questionaireCode} and question_code = #{questionCode}
	</delete>
	
	<select id="getAnswerCodeList" parameterType="hashmap" resultType="string">
            	select  answer_code 
            	from editor_result 
            	where interview_id = #{interviewId} and questionaire_code = #{questionaireCode} and question_code = #{questionCode}
        </select>
        
	<select id="getAnswerList" parameterType="hashmap" resultMap="allResultMap">
            	select  <include refid="allColumns"></include> 
            	from editor_result  
            	where interview_id = #{interviewId} and questionaire_code = #{questionaireCode} and question_code = #{questionCode}
        </select>
	
</mapper>  