<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="mapper.EditorResultMapper">
    
        <sql id="allColumns">
		id,interview_id,questionaire_code,question_code,answer_code,answer_value 
        </sql>
	
	<resultMap id="allResultMap" type="SysqResult">
		<id column="id" property="id" jdbcType="INTEGER" javaType="int"/>
  		<result column="interview_id" property="interviewId" jdbcType="INTEGER" javaType="_int"/>
		<result column="questionaire_code" property="questionaireCode" jdbcType="VARCHAR" javaType="string"/>
  		<result column="answer_code" property="answerCode" jdbcType="VARCHAR" javaType="string"/>
  		<result column="answer_value" property="answerValue" jdbcType="VARCHAR" javaType="string"/>
	</resultMap>
	
	<insert id="insert" parameterType="SysqResult" useGeneratedKeys="true" keyProperty="id">
	    	insert editor_result(interview_id,questionaire_code,question_code,answer_code,answer_value) 
	    	values(#{interviewId},#{questionaireCode},#{questionCode},#{answerCode},#{answerValue})
	</insert>
	
</mapper>  