<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="mapper.InterviewMapper">
	
	<resultMap id="allResultMap" type="Interview">
		<id column="id" property="id" jdbcType="INTEGER" javaType="int"/>
  		<result column="doctor_id" property="doctorId" jdbcType="INTEGER" javaType="_int"/>
                <result column="patient_id" property="patientId" jdbcType="INTEGER" javaType="_int"/>
                <result column="type" property="type" jdbcType="INTEGER" javaType="_int"/>
                <result column="start_time" property="startTime" jdbcType="TIMESTAMP" javaType="date" />
                 <result column="end_time" property="endTime" jdbcType="TIMESTAMP" javaType="date" />
                 <result column="version_id" property="versionId" jdbcType="INTEGER" javaType="_int"/>
	</resultMap>
	
        <select id="findDoctorInterviewList" parameterType="hashmap" resultMap="allResultMap">
                 select interview.id,interview.doctor_id,interview.patient_id,interview.type,interview.start_time,interview.end_time,interview.version_id 
	         from sysq_interview interview 
	         inner join sysq_patient patient on interview.patient_id = patient.id 
	         inner join sysq_doctor doctor on interview.doctor_id = doctor.id 
	         <trim prefix="where" prefixOverrides="and">
	                 <if test="_parameter != null and doctorMobile != null and doctorMobile != ''">and doctor.mobile = #{doctorMobile}</if>
                         <if test="_parameter != null and patientName != null and patientName != ''">and patient.username like concat(concat('%',#{patientName}),'%')</if>
                         <if test="_parameter != null and interviewType != null and interviewType != ''">and interview.type = #{interviewType}</if>
                 </trim>
                 <if test="_parameter != null and offset != null and limit != null">
                     limit #{offset},#{limit}
                 </if>
	         
	</select>
	 
        <select id="countDoctorInterviewList" parameterType="hashmap" resultType="_int">
	         select count(interview.id) 
                 from sysq_interview interview 
                 inner join sysq_patient patient on interview.patient_id = patient.id 
                 inner join sysq_doctor doctor on interview.doctor_id = doctor.id 
                 <trim prefix="where" prefixOverrides="and">
                         <if test="_parameter != null and doctorMobile != null and doctorMobile != ''">and doctor.mobile = #{doctorMobile}</if>
                         <if test="_parameter != null and patientName != null and patientName != ''">and patient.username like concat(concat('%',#{patientName}),'%')</if>
                         <if test="_parameter != null and interviewType != null and interviewType != ''">and interview.type = #{interviewType}</if>
                 </trim>
        </select>
        
</mapper>  