<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="mapper.SysqResultMapper">
    
        <sql id="allColumns">
		id,questionaire_code,question_code,answer_code,answer_value,interview_id 
        </sql>
	
	<resultMap id="allResultMap" type="SysqResult">
		<id column="id" property="id" jdbcType="INTEGER" javaType="int"/>
  		<result column="interview_id" property="interviewId" jdbcType="INTEGER" javaType="_int"/>
		<result column="questionaire_code" property="questionaireCode" jdbcType="VARCHAR" javaType="string"/>
		<result column="question_code" property="questionCode" jdbcType="VARCHAR" javaType="string"/>
  		<result column="answer_code" property="answerCode" jdbcType="VARCHAR" javaType="string"/>
  		<result column="answer_value" property="answerValue" jdbcType="VARCHAR" javaType="string"/>
	</resultMap>
	
        <select id="getQuestionaireList" parameterType="_int" resultType="string">
		select distinct questionaire_code 
		from sysq_result 
		where interview_id = #{interviewId}
        </select>
        
        <select id="getQuestionList" parameterType="hashmap" resultType="string">
            	select distinct question_code 
            	from sysq_result 
            	where interview_id = #{interviewId} and questionaire_code = #{questionaireCode}
        </select>
        
        <select id="getAnswerList" parameterType="hashmap" resultType="string">
            	select distinct answer_code 
            	from sysq_result 
            	where interview_id = #{interviewId} and questionaire_code = #{questionaireCode} and question_code = #{questionCode}
        </select>
        
        <select id="getAnswerResultByQuestion" parameterType="hashmap" resultMap="allResultMap">
            	select <include refid="allColumns"></include>
            	from sysq_result 
            	where interview_id = #{interviewId} and questionaire_code = #{questionaireCode} and question_code = #{questionCode}
        </select>
        
        <select id="getAnswerResult" parameterType="hashmap" resultMap="allResultMap">
            	select <include refid="allColumns"></include>
            	from sysq_result 
            	where interview_id = #{interviewId} and questionaire_code = #{questionaireCode} and question_code = #{questionCode} and answer_code = #{answerCode}
        </select>
        
        <select id="getAllAnswerResult" parameterType="_int" resultMap="allResultMap">
		select <include refid="allColumns"></include>
            	from sysq_result 
            	where interview_id = #{interviewId}
        </select>
        
</mapper>  