<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="mapper.UserMapper">
	
	<sql id="userColumns">
	    id,login_name,login_pwd,name,user_type,email,working_place,mobile,audit_status,audit_remark,create_time,update_time
	</sql>
	
	<resultMap id="userResultMap" type="User">
		<id column="id" property="id" jdbcType="INTEGER" javaType="int"/>
		<result column="login_name" property="loginName" jdbcType="VARCHAR" javaType="String"/>
		<result column="login_pwd" property="loginPwd" jdbcType="VARCHAR" javaType="String"/>
  		<result column="name" property="name" jdbcType="VARCHAR" javaType="String"/>
  		<result column="user_type" property="userType" jdbcType="INTEGER" javaType="int"/>
  		<result column="email" property="email" jdbcType="VARCHAR" javaType="String"/>
  		<result column="working_place" property="workingPlace" jdbcType="VARCHAR" javaType="String"/>
  		<result column="mobile" property="mobile" jdbcType="VARCHAR" javaType="String"/>
  		<result column="audit_status" property="auditStatus" jdbcType="INTEGER" javaType="int"/>
  		<result column="audit_remark" property="auditRemark" jdbcType="VARCHAR" javaType="String"/>
  		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
  		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
  		
	</resultMap>
	
        <select id="find" parameterType="User" resultMap="userResultMap">
                 select <include refid="userColumns"></include> 
	         from editor_user 
	         <trim prefix="where" prefixOverrides="and">
			<if test="name != null and '' != name">and name like concat(concat('%',#{name}),'%')</if>
	       </trim>
	</select>
	 
        <select id="count" parameterType="User" resultType="int">
	         select count(id)  from editor_user 
                 <trim prefix="where" prefixOverrides="and">
                         <if test="name != null and '' != name">and name like concat(concat('%',#{name}),'%')</if>
                 </trim>
        </select>
	
</mapper>  