<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="mapper.UserMapper">
	
	<sql id="userColumns">
	    id,login_name,login_pwd,name,user_type,email,working_place,mobile,audit_status,remark,create_time,update_time
	</sql>
	
	<resultMap id="userResultMap" type="User">
		<id column="id" property="id" jdbcType="INTEGER" javaType="int"/>
		<result column="login_name" property="loginName" jdbcType="VARCHAR" javaType="String"/>
		<result column="login_pwd" property="loginPwd" jdbcType="VARCHAR" javaType="String"/>
  		<result column="name" property="name" jdbcType="VARCHAR" javaType="String"/>
  		<result column="user_type" property="userType" jdbcType="INTEGER" javaType="int"/>
  		<result column="email" property="email" jdbcType="VARCHAR" javaType="String"/>
  		<result column="working_place" property="workingPlace" jdbcType="VARCHAR" javaType="String"/>
  		<result column="mobile" property="mobile" jdbcType="VARCHAR" javaType="String"/>
  		<result column="audit_status" property="auditStatus" jdbcType="INTEGER" javaType="int"/>
  		<result column="remark" property="remark" jdbcType="VARCHAR" javaType="String"/>
  		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
  		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
  		
	</resultMap>
	
        <select id="find" parameterType="User" resultMap="userResultMap">
                 select <include refid="userColumns"></include> 
	         from editor_user 
	         <trim prefix="where" prefixOverrides="and">
                         <if test="_parameter != null and name != null and name != ''">and name like concat(concat('%',#{name}),'%')</if>
                         <if test="_parameter != null and userType != null and userType != ''">and user_type = #{userType}</if>
                         <if test="_parameter != null and auditStatus != null and auditStatus != ''">and audit_status = #{auditStatus}</if>
                 </trim>
                 <if test="_parameter != null and offset != null and limit != null">
                     limit #{offset},#{limit}
                 </if>
	         
	</select>
	 
        <select id="count" parameterType="hashmap" resultType="_int">
	         select count(id)  from editor_user 
                 <trim prefix="where" prefixOverrides="and">
                         <if test="_parameter != null and name != null and name != ''">and name like concat(concat('%',#{name}),'%')</if>
                         <if test="_parameter != null and userType != null and userType != ''">and user_type = #{userType}</if>
                         <if test="_parameter != null and auditStatus != null and auditStatus != ''">and audit_status = #{auditStatus}</if>
                 </trim>
        </select>
        
        <select id="selectByLoginName" parameterType="string" resultMap="userResultMap">
                select <include refid="userColumns"></include> 
                from editor_user 
                where login_name = #{loginName}
        </select>
        
        <select id="selectById" parameterType="_int" resultMap="userResultMap">
                select <include refid="userColumns"></include> 
                from editor_user 
                where id = #{id}
        </select>
        
        <update id="update" parameterType="User">
            update editor_user 
            set login_name = #{loginName},login_pwd = #{loginPwd},name = #{name},user_type = #{userType},
            email = #{email},working_place = #{workingPlace},mobile = #{mobile},audit_status = #{auditStatus},
            remark = #{remark},create_time = #{createTime},update_time = #{updateTime}
            where id = #{id}
        </update>
	
</mapper>  