*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.common-title{
        padding:10px 0;
	background-color:#eef1f6;
        font-size:16px;
}

.common-list{
        margin:30px 0 0 0;
}

.common-table-header{
	background-color:#eef1f6 !important;
	color: #606266;
	font-weight:bold;
}

.common-pagination{
        margin-top:20px;
        text-align:right;
}

.common-search{
        margin:30px 0 0 0;
        padding: 24px 32px;
	background: #eef1f6;
        border-radius: 2px;
}

.common-search .common-search-opt{
        text-align:right;
}
